<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyboard Store</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
    <header class="main-page">
        <h1>KeySavvy</h1>
        <div class="dropdown-container">
            <div class="dropdown">
                <button class="dropbtn">User Settings</button>
                <div class="dropdown-content">
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log In</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>
        <nav class="sub-section">
            <img src="static/images/keyboards.png" alt="Keyboard.png">
            <a href="/product" class="btn">Shop Now</a>
            <!-- Add the button for the feedback form here -->
            <a href="/feedback" class="btn">Feedback Form</a>
        </nav>
    </header>
    

    <footer>
        <p>&copy; 2024 Keyboard Store. All rights reserved.</p>
    </footer>
</main>
</body>
</html>